{% extends "base_generic.html" %}

{% block content %}
  <div class="container">
    <h2>Browse Items</h2>
    <ul>
      {% for item in items %}
        <li>
          {{ item.description }}
          <ul>
            {% for comment in comments %}
              {% if comment.item == item %}
                <li>{{ comment.buyer.username }}: {{ comment.content }}</li>
              {% endif %}
            {% endfor %}
          </ul>
          <form method="get" action="{% url 'single_purchase' item.id %}">
            <button type="submit" class="btn btn-primary">Purchase</button>
          </form>
          <form method="get" action="{% url 'add_to_cart' item.id %}">
            {% csrf_token %}
            <button type="submit" class="btn btn-primary">Add to Cart</button>
          </form>
        </li>
      {% endfor %}
    </ul>
  </div>
{% endblock %}
