{% extends "base_generic.html" %}

{% block content %}
  <div class="container">
    
    
    {% if not item.header_img %}
    <img src="/media/images/default.jpg " class="img-fluid" alt="Item image">
    {% else %}
    <img src=" {{ item.header_img.url }} " class="img-fluid" alt="Item image">
    {% endif %}
    <hr>
    <h2>{{ item.description }}</h2>
    <br>
    <br>
    <p>Comments</p>
    <ul>
      {% for comment in comments %}
        <li>{{ comment.buyer.username }}: {{ comment.content }}</li>
      {% endfor %}
    </ul>
    <form method="get" action="{% url 'single_purchase' item.id %}">
      {% csrf_token %}
      <button type="submit" class="btn btn-primary">Purchase Item</button>
    </form>
  </div>
{% endblock %}

