{% extends "base_generic.html" %}

{% block content %}
  <div class="container">
    <h2>Search Items</h2>
    <form method="get">
      <input type="text" name="q" value="{{ query }}">
      <button type="submit">Search</button>
    </form>

    {% if items %}
      <ul>
        {% for item in items %}
          <li>
            <a href="{% url 'item_detail' item.id %}">{{ item.description }}</a>
            <form method="get" action="{% url 'single_purchase' item.id %}">
              {% csrf_token %}
              <button type="submit" class="btn btn-primary">Purchase</button>
            </form>
            <form method="get" action="{% url 'add_to_cart' item.id %}">
              {% csrf_token %}
              <button type="submit" class="btn btn-primary">Add to Cart</button>
            </form>
            <ul>
              {% for comment in item.comments.all %}
                <li>{{ comment.buyer.username }}: {{ comment.content }}</li>
              {% endfor %}
            </ul>
          </li>
        {% endfor %}
      </ul>
    {% else %}
      <p>No items found matching your search query.</p>
    {% endif %}
  </div>
{% endblock %}
