{% extends "base_generic.html" %}

{% block content %}
  <div class="container">
    <h2>Search Items</h2>
    <form method="get">
      <input type="text" name="q" value="{{ query }}">
      <button type="submit">Search</button>
    </form>
    <form method="get" action="{% url 'multi_purchase' %}">
      {% csrf_token %}
      <ul>
      {% for item in items %}
        <li>
          <input type="checkbox" name="selected_items" value="{{ item.id }}">
          {{ item.description }}
          Quantity: <input type="number" name="count_{{ item.id }}" value="1" min="1">
        </li>
      {% endfor %}
      </ul>
      <button type="submit" class="btn btn-primary">Purchase Selected Items</button>
    </form>
    <form method="get" action="{% url 'shopping_cart' %}">
      {% csrf_token %}
      <ul>
      {% for item in items %}
        <li>
          <input type="checkbox" name="selected_items" value="{{ item.id }}">
          {{ item.description }}
          Quantity: <input type="number" name="count_{{ item.id }}" value="1" min="1">
        </li>
      {% endfor %}
      </ul>
      <button type="submit" class="btn btn-primary">Add to Shopping Cart</button>
    </form>
  </div>
{% endblock %}
