{% extends "base_generic.html" %}

{% block content %}
  <div class="container">
    <h2>Your Orders</h2>
    {% for order_data in order_items %}
      <hr>
      <h4>Order ID: {{ order_data.order.order_id }}</h4>
      <h4>Status: {{ order_data.order.status }}</h4> <!-- Add this line to display the order status -->
      <table class="table">
        <thead>
          <tr>
            <th>Item Description</th>
            <th>Quantity</th>
            <th>Comment</th>
          </tr>
        </thead>
        <tbody>
          {% for item_data in order_data.items %}
            <tr>
              <td>{{ item_data.item.item.description }}</td>
              <td>{{ item_data.item.count }}</td>
              <td>
                {% if item_data.comment_url %}
                  <a href="{{ item_data.comment_url }}">Comment on this item</a>
                {% endif %}
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
      <hr>
    {% endfor %}
  </div>
{% endblock %}
